                  <h4>Contact Us</h4>
                  <ul class="list-links list-unstyled">
                    <li class="a-info"><span>Paper Street Soap Co.</span></li>
                    <li class="a-info"><span>537 Paper St</span></li>
                    <li class="a-info"><span>Bradford 19808</span></li>
                    <li class="a-info"><span>contact@bitcode.guru</span></li>
                    <li class="a-info"><span>(+92) 3456 7890</span></li>
                    <li class="a-info"><span><a href='https://unsplash.com/'>Images by Unsplash</a></span></li>
                    <li class="a-info"><span><a href='http://www.freepik.com/free-vector/stera-coffee-shop-logo-template_893180.htm'>Logo by Mia.Designs/Freepik</a></span></li>
                  </ul>
