{{ if .Site.Data.config.widgets.search }}
                  <div class="searchbox">
                    <form id="search" class="navbar-form search" role="search" action="//google.com/search" method="get" name="search">
                      <input id="navbar-search" type="search" name="q" aria-label="Search the {{ .Site.Title }} website..." class="form-control site-search" autocomplete="off" placeholder="Search" required>
                      <a href="#" id="search-button" class="search-icon" role="button"></a>
                        <input class="widget-search__submit" type="submit" value="Search" style="display:none;">
                      </a>
                      <input type="hidden" name="sitesearch" value="{{ .Site.BaseURL }}">
                    </form>
                    <div id="result-ajax-search">
                      <ul id="search-results" class="search-results"></ul>
                    </div>
                  </div>
{{ end }}
