{{- with .Site.Data.config.social.facebook -}}
                        <li><a class="social-icon-inner" href="//facebook.com/{{.}}" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.github -}}
                        <li><a class="social-icon-inner" href="//github.com/{{.}}" target="_blank" title="GitHub"><i class="fa fa-github"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.bitbucket -}}
                        <li><a class="social-icon-inner" href="//bitbucket.com/{{.}}" target="_blank" title="Bitbucket"><i class="fa fa-bitbucket"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.jsfiddle -}}
                        <li><a class="social-icon-inner" href="//jsfiddle.com/{{.}}" target="_blank" title="JSFiddle"><i class="fa fa-jsfiddle"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.codepen -}}
                        <li><a class="social-icon-inner" href="//codepen.io/{{.}}" target="_blank" title="CodePen"><i class="fa fa-codepen"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.foursquare -}}
                        <li><a class="social-icon-inner" href="//foursquare.com/{{.}}" target="_blank" title="Foursquare"><i class="fa fa-foursquare"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.dribbble -}}
                        <li><a class="social-icon-inner" href="//dribbble.com/{{.}}" target="_blank" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.deviantart -}}
                        <li><a class="social-icon-inner" href="//{{.}}.deviantart.com/" target="_blank" title="DeviantArt"><i class="fa fa-deviantart"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.behance -}}
                        <li><a class="social-icon-inner" href="//behance.net/{{.}}" target="_blank" title="Behance"><i class="fa fa-behance"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.flickr -}}
                        <li><a class="social-icon-inner" href="//flickr.com/photos/{{.}}" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.instagram -}}
                        <li><a class="social-icon-inner" href="//instagram.com/{{.}}" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.youtube -}}
                        <li><a class="social-icon-inner" href="//youtube.com/{{.}}" target="_blank" title="YouTube"><i class="fa fa-youtube"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.vimeo -}}
                        <li><a class="social-icon-inner" href="//vimeo.com/{{.}}" target="_blank" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.vine -}}
                        <li><a class="social-icon-inner" href="//vine.co/{{.}}" target="_blank" title="Vine"><i class="fa fa-vine"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.medium}}
                        <li><a class="social-icon-inner" href="//medium.com/@{{.}}" target="_blank" title="Medium"><i class="fa fa-medium"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.wordpress -}}
                        <li><a class="social-icon-inner" href="//{{.}}.wordpress.com" target="_blank" title="WordPress"><i class="fa fa-wordpress"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.tumblr -}}
                        <li><a class="social-icon-inner" href="//{{.}}.tumblr.com" target="_blank" title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.xing -}}
                        <li><a class="social-icon-inner" href="//xing.com/profile/{{.}}" target="_blank" title="Xing"><i class="fa fa-xing"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.linkedin -}}
                        <li><a class="social-icon-inner" href="//linkedin.com/in/{{.}}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.slideshare -}}
                        <li><a class="social-icon-inner" href="//slideshare.com/{{.}}" target="_blank" title="SlideShare"><i class="fa fa-slideshare"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.stackoverflow -}}
                        <li><a class="social-icon-inner" href="//stackoverflow.com/users/{{.}}" target="_blank" title="Stack Overflow"><i class="fa fa-stackoverflow"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.reddit -}}
                        <li><a class="social-icon-inner" href="//reddit.com/user/{{.}}" target="_blank" title="Reddit"><i class="fa fa-reddit"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.pinterest -}}
                        <li><a class="social-icon-inner" href="//pinterest.com/{{.}}" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.googleplus -}}
                        <li><a class="social-icon-inner" href="//plus.google.com/+{{.}}" target="_blank" title="Google+"><i class="fa fa-google-plus"></i></a></li>
{{- end -}}
{{- with .Site.Data.config.social.twitter -}}
                        <li><a class="social-icon-inner" href="//twitter.com/{{.}}" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
{{- end -}}
