@font-face {font-family: 'Pe-icon-7-stroke';src:url(/fonts/Pe-icon-7-stroke.eot);src:url(/fonts/Pe-icon-7-stroke.eot) format('embedded-opentype'),url(/fonts/Pe-icon-7-stroke.woff) format('woff'),url(/fonts/Pe-icon-7-stroke.ttf) format('truetype'),url(/fonts/Pe-icon-7-stroke.svg) format('svg');font-weight: normal;font-style: normal}
html{-webkit-font-smoothing:antialiased;height:100%}
body{margin:0 auto;font-family:'Arial', 'sans-serif';color:#777777;font-size:14px;line-height:20px;position:relative;overflow-x:hidden;height:100%}
body.cart-loading .loading{display:block !important}
.visible-phone{display:none}
fieldset,legend{border:none}
.input-append input[class*="span"],.input-append .uneditable-input[class*="span"],.input-prepend input[class*="span"],.input-prepend .uneditable-input[class*="span"],.row-fluid input[class*="span"],.row-fluid select[class*="span"],.row-fluid textarea[class*="span"],.row-fluid .uneditable-input[class*="span"],.row-fluid .input-prepend [class*="span"],.row-fluid .input-append [class*="span"]{display:inline-block;padding:1.384615385em 0.615384615em}
.row-fluid textarea[class*="span"]{padding-top:0.5em;padding-bottom:0.5em}
input[type="image"]{width:auto}
textarea{border:none}
input:-webkit-autofill{background:transparent}
input[type="checkbox"]{vertical-align:top;margin-right:10px}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="tel"],input[type="color"],.uneditable-input{margin:0;padding:0.615384615em;-moz-appearance:textfield;-webkit-appearance:textfield;-webkit-appearance:none;color:#777;background:#f5f5f5;border:none}
textarea,textarea.form-control{border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;-webkit-border-radius:0 0 0 0;-webkit-box-shadow:inset 0 0 0 #fff;-ms-transform:inset 0 0 0 #fff;-o-transform:inset 0 0 0 #fff;box-shadow:inset 0 0 0 #fff;background-repeat:no-repeat;background-attachment:fixed;border:none;-moz-appearance:textfield;-webkit-appearance:textfield;-webkit-appearance:none;padding-left:15px;padding-right:15px;background:#f5f5f5}
select,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"]{padding:7px 10px;line-height:1.5;height:42px;background-repeat:no-repeat;background-attachment:fixed;background:none;border:none;font-size:14px;-webkit-box-shadow:inset 0 0 0 #fff;-ms-transform:inset 0 0 0 #fff;-o-transform:inset 0 0 0 #fff;box-shadow:inset 0 0 0 #fff;border-radius:0px 0px 0px 0px;-moz-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;background:#f5f5f5;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
input[type="number"]{-moz-appearance:textfield;-webkit-appearance:textfield;-webkit-appearance:none}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
label{margin-bottom:7px;font-weight:400}
label em{color:#f1152f;font-weight:400;font-style:normal;margin-left:3px}
.form-actions{background:none;border:none;padding:20px 0 0 0}
.alert ul{margin-bottom:0}
.alert>p,.alert>ul{margin-top:0}
ul{padding:0;list-style:disc inside none}
ol{padding:0;list-style:decimal inside none}
ul ul,ul ol,ol ol,ol ul{padding-left:10px}
.list-inline{margin:0}
.list-inline>li{padding:0;margin:0}
.center{text-align:center}
.left{text-align:left}
.right{text-align:right}
.req{color:#dec18c}
.form-success{border:1px solid #c8d9b9;background:url(icons_new14.png) 10px -1307px no-repeat;margin-bottom:20px;padding:5px 20px 5px 30px}
img{max-width:100%;height:auto;border:0}
.image{max-width:100%;height:auto;border:0;-ms-interpolation-mode:bicubic}
h1,h2,h3,h4,h5,h6{font-weight:400;line-height:1.2;margin:0 0 20px;padding:0;text-transform:capitalize;color:#333;font-family:"Playfair Display",Arial,Helvetica,sans-serif}
h1{font-size:38px}
h2{font-size:28px}
h3{font-size:24px}
h4{font-size:21px}
h5{font-size:18px}
h6{font-size:14px}
.page-title{font-size:30px;font-weight:400;font-family:"Playfair Display",Arial,Helvetica,sans-serif}
p:last-child{margin-bottom:0}
small{font-size:12px}
h2 small.pull-right{padding-top:0.538461538em}
a{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s}
a:focus{text-decoration:none}
a,a:link,a:hover,a:active{outline:none}
.no-style{margin:0 !important;padding:0 !important;border:0 !important;background:none !important}
.tal{text-align:left}
.tar{text-align:right}
.tac{text-align:center}
.fl{float:left}
.fr{float:right}
.fn{float:none}
.cl{clear:left}
.cr{clear:right}
.cb{clear:both}
.hide,.hidden{display:none}
.move{cursor:move}
.hidden{display:none}
.move{cursor:move}
.section-title{display:none}
.owl-theme .owl-controls .owl-buttons>div{position:absolute}
.navigation>nav>ul>li.mega-menu{position:relative}
.main-nav .mega-menu>.dropdown-menu{left:auto;right:0;padding:20px !important}
.main-nav .mega-menu .mega-col-2 img{width:100%}
html.menu-opened{overflow:hidden}
.menu-mobile.opened{-webkit-transform:translate(0px, 0px);-ms-transform:translate(0px, 0px);-o-transform:translate(0px, 0px);transform:translate(0px, 0px);background:#383838;border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;-webkit-border-radius:0 0 0 0;border-right:3px solid #dec18c}
.menu-mobile{top:0 !important;position:fixed;width:260px;z-index:100000;height:100%;overflow:auto;left:0px;-webkit-transform:translate(-280px, 0);-ms-transform:translate(-280px, 0);-o-transform:translate(-280px, 0);transform:translate(-280px, 0);-moz-transition:all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);-o-transition:all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);-webkit-transition:all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);transition:all 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);background:#fff}
#page-body{position:relative;left:0}
.navigation .navbar{margin-bottom:0}
.main-nav{width:100%;margin:0;padding:0;float:left}
.main-nav>li{position:relative}
.main-nav>li.dropdown>a>i{display:none}
.main-nav>li.dropdown a.dropdown-link i{float:right;width:18px;height:27px;text-align:right;padding:0px;content:none;background:url(bg_menu_arrow.png) no-repeat center center}
.main-nav>li.dropdown a.dropdown-link i:before{content:none}
.main-nav>li.dropdown a.dropdown-link:hover i{opacity:0}
.main-nav>li.mega-menu{position:static}
.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{background-color:transparent;color:#dec18c}
.dropdown-menu>li.dropdown-submenu>.dropdown-menu{left:100%;top:0px;display:none;font-size:14px}
.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{background-color:transparent;color:#dec18c}
.dropdown-menu{text-align:left;display:none;position:absolute;top:100%;left:0;width:200px;z-index:5;padding:0;margin-top:0;margin-bottom:0;border-radius:0;border:none;background:#fff;-webkit-box-shadow:2px 3px 5px 2px rgba(0,0,0,0.3);-ms-transform:2px 3px 5px 2px rgba(0,0,0,0.3);-o-transform:2px 3px 5px 2px rgba(0,0,0,0.3);box-shadow:2px 3px 5px 2px rgba(0,0,0,0.3)}
.main-nav .mega-menu .dropdown-menu-sub{position:static}
.main-nav .dropdown-menu{padding:10px 0;width:240px;border:2px solid #eee;-webkit-box-shadow:0px 0px 0px 0px rgba(0,0,0,0.3);-ms-transform:0px 0px 0px 0px rgba(0,0,0,0.3);-o-transform:0px 0px 0px 0px rgba(0,0,0,0.3);box-shadow:0px 0px 0px 0px rgba(0,0,0,0.3)}
.main-nav .dropdown-menu li{padding:0 25px}
.main-nav .dropdown-menu li a{white-space:normal;padding:10px 20px 10px 0;margin:0;line-height:25px;border-bottom:1px solid #eee;position:relative;font-family:"Varela Round",Arial,Helvetica,sans-serif;display:block}
.main-nav .dropdown-menu li a:hover{color:#dec18c;padding-left:35px}
.main-nav .dropdown-menu li:last-child>a{border-bottom:0}
.main-nav .mega-menu .dropdown-menu{padding:0px;min-width:100%}
.main-nav .mega-menu .dropdown-menu li a{text-transform:capitalize}
.main-nav .mega-menu .dropdown-menu li:last-child{border-bottom:0}
#scroll-to-top a:hover{text-decoration:none}
.flag-usd{background-image:url(//cdn.shopify.com/s/files/1/1217/4956/t/2/assets/usd.png?3767446182376045757);width:16px;height:11px;display:inline-block;margin-right:7px}
.flag-eur{background-image:url(//cdn.shopify.com/s/files/1/1217/4956/t/2/assets/eur.png?3767446182376045757);width:16px;height:11px;display:inline-block;margin-right:7px}
.flag-gbp{background-image:url(//cdn.shopify.com/s/files/1/1217/4956/t/2/assets/gbp.png?3767446182376045757);width:16px;height:11px;display:inline-block;margin-right:7px}
#quick-shop-modal{background:rgba(0,0,0,0.5);z-index:999}
#quick-shop-modal .modal-content{z-index:999}
.modal-open .modal-backdrop{display:none}
.layer-effect-wl .image img{border:3px solid #f5f5f5;border-radius:2px 2px 2px 2px;-moz-border-radius:2px 2px 2px 2px;-webkit-border-radius:2px 2px 2px 2px}
div.jGrowl div.jGrowl-notification{background-color:#fff;border:1px solid #eee;border-radius:0 0 0 0;-moz-border-radius:0 0 0 0;-webkit-border-radius:0 0 0 0;-webkit-box-shadow:0 0 15px rgba(0,0,0,0.5);-ms-transform:0 0 15px rgba(0,0,0,0.5);-o-transform:0 0 15px rgba(0,0,0,0.5);box-shadow:0 0 15px rgba(0,0,0,0.5)}
.alert-danger{border-radius:0;border-color:#d02e2e;color:#d02e2e;background-color:#fff6f6}
.alert-success{border-radius:0;border-color:#56ad6a;color:#56ad6a;background-color:#ecfeee}
.loading{background:transparent url(//cdn.shopify.com/s/files/1/1217/4956/t/2/assets/loading.gif?3767446182376045757) center center no-repeat;position:fixed;top:50% !important;bottom:auto;left:50%;right:auto;width:56px;height:56px;margin-left:-28px;margin-top:-28px;overflow:hidden;padding:0;text-align:center;text-indent:-999em;background-size:100%;z-index:10}
.templateProduct #body-content{overflow-x:hidden}
#body-content{min-height:250px;margin:0 auto 100px;width:100%}
.zoomContainer{z-index:1;overflow:hidden}
.modal-open .zoomContainer{z-index:1050}
#related-product .product-wrapper .product-head .product-button{display:none !important}
.add-to-cart.disabled,.add-to-wishlist.disabled{cursor:not-allowed;pointer-events:none;opacity:0.6;background:#fff;border-color:#fff;-webkit-box-shadow:none;box-shadow:none}
