<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery-ui.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/bootstrap.3x.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/underscore-min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/calendar.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/moment.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/modernizr.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/mobile-detect.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.cookies.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.imagesloaded.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.fancybox.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.jgrowl.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.elevatezoom.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.owl.carousel.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.scrollTo-min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.serialScroll.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.plugin.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.countdown.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/coventry.script.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/coventry.slider.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/wow.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/lunr.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/sitesearch.js"></script>
<script type="text/javascript">
var _coventry_config = {
    "home_slideshow_auto_delay"         : "7000"
};
</script>
