{{ partial "head" . }}
{{ partial "menu-mobile" . }}
{{ partial "header" . }}

<section id="main-content">
  <section class="wrapper">
    <article class="article article-type-post" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            <div class="article-entry" itemprop="articleBody">
                <center>
                <h1>
                    {{with .Site.Data.l10n.page_not_found.title}}{{.}}{{end}}
                </h1>
                </center>
            </div>
        </div>
    </article>
  </section>
</section>

{{ partial "footer" . }}
